# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
env/
.venv/
ENV/
venv/
.Python

# SQLite DB
*.db

# Environment variables
.env

# VS Code settings
.vscode/

# Node, React (frontend)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/frontend/build/
/frontend/.next/

# Mac, Windows system junk
.DS_Store
Thumbs.db
